
/* Font adding */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background: #f5f8ff ;
}

/* heading style */

header{
    height: 698px;
    background: url(../Assets/Hero-bg.png);
    margin: 0 auto;
    background-size: contain;
}
nav{
    max-width:1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
nav .logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.btn{
    background-color:#4E47FF ;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size:16px ;
    display: inline-block;
    padding: 12px 36px;
     transition: background-color  0.7s ease,color  0.7s ease;
}
.btn:hover{
    background-color:#F6C60C;
    color: black;
}
/* banner */
.banner_content{
    margin: 0px auto;
    max-width: 1140px;
    text-align: center;
    padding-top: 40px;
}
.banner_title{
    font-size: 65px;
    font-weight: bold;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action section */
.action{
    margin: 120px 0px;
    
}
.action_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action_content{
    width: 517px;
}
.action_title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    line-height: 23px;
}
.action_des{
    font-size: 24px;
    color: #2524327b;
}
.action_img img{
    width: 403px;
    border-radius: 40px;
}

/* users title */
.users{
    background-color:rgba(78,71,255,0.1) ;
    padding: 50px 140px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.users_title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-bottom: 0;
}
.users_detail{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.user_title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    line-height: 0px;
}
.user_status{
    color:#0000006f ;
    font-size: 20px;
   line-height: 0px;
}


/* style review section */
.review{
    margin: 120px 0px;
   
}
.review_title{
    font-size:42px ;
    font-weight: bold;
     text-align: center;
}

.review_container{  
     display: flex;
     gap:20px;
}
.review_box{
    padding: 20px;
    background-color: #FAFCFF;
    border-radius: 10px;
   border: 0.1px solid rgba(255, 166, 0, 0.088);
}
.star_container{
    max-width: 120px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.star_container img{
    width: 20px;
}
.review_title_user{
    font-size: large;
    line-height: 2px;
    color: #1E1E1E;
}
.review_des{
    font-size: 16px;
}
.review_user{
    display: flex;
   align-items: center;
   gap: 12px;
}
.profile img{
    width:40px ;
    border-radius: 50%;
}
.name{
    font-size: 14px;
    color:#757575 ;
    line-height: 0px;
}
.user_details p{
    color:#B3B3B3 ;
    font-size: 12px;
    line-height: 0px;
}
/* focus section */

.focus{
    text-align: center;
    margin:130px 0px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 70px;
}
.focus_title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    line-height: 10px;
}
.focus_des{
    font-size:16px;
    color:rgba(0,0,0,0.5) ;
}
.focus_img{
    width: 840px;
    height: 365px;
    border-radius: 40px;
    margin: 20px auto;
    overflow: hidden;
}
.focus img{
    width:840px ;
}

/* Touch section */
.touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.touch_title{
    font-size: 97px;
    font-weight: bold;
}
.touch_form{
    width: 497px;
    display: flex;
    flex-direction: column;

}
.touch_form label{
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin: 10px 0px;

}
.touch_form input,textarea{
    padding:20px 32px ;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #b3b3b373;
}
.touch_form textarea{
   resize: none;
   margin-bottom: 20px;
}
.touch_form button{
    padding: 20px;
}

/* footer section
 */
 footer{
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 104px;
    margin-top: 90px;
 }
 .footer_content{
    max-width: 513px;
      margin: 0px auto;
 }
 .footer_logo{
    color: #4E47FF;
    font-size:100px ;
    font-weight: 900;
    line-height: 10px;
 }
 .footer_des{
    color: #8987A1;
    font-size: 16px;
 }
 .footer_link{
    display: flex;
    justify-content: center;
 }
 .footer_link ul {
    list-style-type: none;
        display: flex;
    justify-content: center;
    gap:48px ;
 }
.link{
    color: #8987A1;
    font-size: 16px;
    text-decoration: none;
  
}